{% extends 'base.html' %}

{% block title %}
     IEBS - DS&ML
{% endblock %}

{% block header %}
    <h2 class="mt-2 mb-4 display-5">
        Detector de COVID-19
    </h2>
{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-4 d-flex justify-content-center mb-4 mt-4">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='xray_neumonia_virica.png') }}" alt="Caso neumonía vírica">
        <div class="card-body">
          <h5 class="card-title">Neumonía vírica</h5>
          <p class="card-text">Ejemplo de radiografía pulmonar de paciente infectado por una <strong>neumonía vírica</strong>.</p>
        </div>
      </div>
    </div>

    <div class="col-4 d-flex justify-content-center mb-4 mt-4">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='xray_normal.png') }}" alt="Caso normal">
        <div class="card-body">
          <h5 class="card-title">Sano</h5>
          <p class="card-text">Ejemplo de radiografía pulmonar de una persona <strong>sana</strong>.</p>
        </div>
      </div>
    </div>


    <div class="col-4 d-flex justify-content-center mb-4 mt-4">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='xray_covid.png') }}" alt="Caso COVID">
        <div class="card-body">
          <h5 class="card-title">COVID</h5>
          <p class="card-text">Ejemplo de radiografía pulmonar de paciente infectado con <strong>COVID</strong>.</p>
        </div>
      </div>
    </div>
  </div>


  {% if show_predictions_modal %}
  <br>
  <hr>
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-4 mt-4">
      <div class="card" style="width: 15rem;background-color: lightblue">
      <strong><div align="center"> DIAGNÓSTICO DEL MODELO </div> </strong>
        <img class="card-img-top" src="{{imagesource}}" alt="Your X-Ray Image">
        <div class="card-body">
          <h5 class="card-title">Resultado: {{categoria}}</h5>
          <p class="card-text"> La probabilidad de acierto es del <strong>{{probabilidad}} %</strong></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% endif %}




  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-3">
      <form action="" class="mt-0 p-3 mb-4" method="post" autocomplete="off" enctype="multipart/form-data">
        <div class="form-group">
          <label for="FormControlFile1">Imagen X-Ray del pecho</label>
          <input type="file"  accept="image/*" class="form-control-file" id="file" name="file">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</div>


{% endblock %}